* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

li {
  list-style: none;
}

input {
  all: unset;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #ff4c68;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.title {
  margin-left: 10px;
  color: #fff;
  letter-spacing: 3px;
}

.main {
  display: flex;
  flex-direction: row;
}

.filter-form {
  margin: 15px 0 0 15px;
  width: 400px;
  text-align: center;
  border: 2px solid #ef8172;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
}

.search {
  margin-top: 10px;
  appearance: none;
  border-bottom: 2px solid #ef8172;
  width: 280px;
  text-align: left;
  padding-bottom: 5px;
}

.all-users {
  padding: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 15px;
  justify-items: center;
  align-items: center;
}

.user-profile-card {
  color: #fff;
  border-radius: 10px;
  text-align: center;
  background-color: #ef8172;
  width: 280px;
  height: 400px;
}

.user-profile-card.hidden {
  display: none;
}

.profile-photo {
  width: 110px;
  display: block;
  border-radius: 50%;
  margin: 10px auto 20px auto;
  border-radius: 1px solid #111;
}

.user-info,
.user-contact {
  display: block;
  word-wrap: break-word;
}

.user-name {
  font-weight: bold;
}
