* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none;
}

li {
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffaf0;
}

.header {
  background-color: #ff4c68;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.title {
  margin-left: 10px;
  color: #fff;
  letter-spacing: 3px;
}

.main {
  display: flex;
  flex-direction: row;
}

.loader.remove {
  display: none;
}

.filter-form {
  margin: 15px 0 0 15px;
  width: 400px;
  text-align: center;
  border: 2px solid #ef8172;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  background-color: #fff;
}

.search-container {
  margin-bottom: 5px;
}

.search {
  all: unset;
  appearance: none;
  border-bottom: 2px solid #ef8172;
  width: 280px;
  text-align: left;
  padding-bottom: 5px;
  margin: 10px 0 10px 0;
}

.search:focus::placeholder {
  color: #111;
  opacity: 1;
}

.additional-text {
  display: block;
  margin-bottom: 10px;
}

.name-sorters,
.age-sorters,
.gender-filters {
  margin: 10px 0 10px 0;
}

.option-label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  margin-left: 5px;
}

.option-label:hover .radio-input ~ .option-button {
  background-color: #2e2e2e;
}

.option-label .radio-input:checked ~ .option-button {
  background-color: #2e2e2e;
}

.radio-input {
  appearance: none;
  position: absolute;
}

.option-button {
  position: absolute;
  background-color: #bbc4c2;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}

.option-button:after {
  content: "";
  display: none;
  position: absolute;
}

.option-label .option-button::after {
  inset: 0;
  margin: auto;
  background-color: #ff4c68;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.option-label .radio-input:checked ~ .option-button::after {
  display: block;
}

.all-users {
  padding: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 15px;
  justify-items: center;
  align-items: center;
}

.user-profile-card {
  position: relative;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  background-color: #ef8172;
  width: 280px;
  height: 400px;
  transition: all 0.3s ease-in-out;
}

.user-profile-card.hidden {
  display: none;
}

.card-top {
  background-color: #2e2e2e;
  border-radius: 10px 10px 0 0;
  height: 100px;
}

.photo-wrapper {
  padding: 7px;
  top: -75px;
  position: relative;
  width: 125px;
  height: 125px;
  background-color: #ef8172;
  border-radius: 100%;
  margin: 10px auto 0 auto;
}

.profile-photo {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  margin-top: -70px;
}

.age-and-gender,
.user-phone,
.user-email {
  font-weight: bold;
}

.user-phone,
.user-email {
  display: block;
}

.user-email {
  margin-top: 8px;
}

.user-contacts {
  margin-top: 40px;
  padding: 0 20px 0 20px;
  word-wrap: break-word;
}

.card-bottom {
  width: 100%;
  height: 50px;
  background-color: #2e2e2e;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  line-height: 50px;
}

.user-name {
  font-weight: bold;
  font-size: 18px;
}
