.main {
  display: flex;
  flex-direction: row;
}

.filter-form {
  margin: 15px 0 0 15px;
  width: 400px;
  text-align: center;
  border: 2px solid #ef8172;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
}

.search {
  margin-top: 10px;
  appearance: none;
  border-bottom: 2px solid #ef8172;
  width: 280px;
  text-align: left;
  padding-bottom: 5px;
}

.all-users {
  padding: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 15px;
  justify-items: center;
  align-items: center;
}

.user-profile-card {
  color: #fff;
  border-radius: 10px;
  text-align: center;
  background-color: #ef8172;
  width: 280px;
  height: 400px;
}

.user-profile-card.hidden {
  display: none;
}

.profile-photo {
  width: 110px;
  display: block;
  border-radius: 50%;
  margin: 10px auto 20px auto;
  border-radius: 1px solid #111;
}

.user-info,
.user-contact {
  display: block;
  word-wrap: break-word;
}

.user-name {
  font-weight: bold;
}
