.main {
  display: flex;
  flex-direction: row;
}

.loader.remove {
  display: none;
}

.filter-form {
  margin: 15px 0 0 15px;
  width: 400px;
  text-align: center;
  border: 2px solid #ef8172;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  background-color: #fff;
}

.search-container {
  margin-bottom: 5px;
}

.search {
  all: unset;
  appearance: none;
  border-bottom: 2px solid #ef8172;
  width: 280px;
  text-align: left;
  padding-bottom: 5px;
  margin: 10px 0 10px 0;
}

.search:focus::placeholder {
  color: #111;
  opacity: 1;
}

.additional-text {
  display: block;
  margin-bottom: 10px;
}

.name-sorters,
.age-sorters,
.gender-filters {
  margin: 10px 0 10px 0;
}

.option-label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  margin-left: 5px;
}

.option-label:hover .radio-input ~ .option-button {
  background-color: #2e2e2e;
}

.option-label .radio-input:checked ~ .option-button {
  background-color: #2e2e2e;
}

.radio-input {
  appearance: none;
  position: absolute;
}

.option-button {
  position: absolute;
  background-color: #bbc4c2;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
}

.option-button:after {
  content: "";
  display: none;
  position: absolute;
}

.option-label .option-button::after {
  inset: 0;
  margin: auto;
  background-color: #ff4c68;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.option-label .radio-input:checked ~ .option-button::after {
  display: block;
}
