.body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #ff4c68;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title {
  margin-left: 10px;
  color: #fff;
  letter-spacing: 3px;
}
