.body {
  font-family: "Montserrat", sans-serif;
  background-color: #d6d6d6;
}

.header {
  position: relative;
  background-color: #ff4c68;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 0 4px 0 #2e2e2e;
  z-index: 7;
}

.title {
  margin-left: 15px;
  color: #fff;
  letter-spacing: 3px;
}
