* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  outline: none;
}

li {
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
